@import './resets';
@import './variables';
@import './mixins';
@import './product';

body{
    @include flexCenter(row);
    background: $cream;
    font-weight: weight(bold);
    font-family: $fam-fraunces;
    height: 100vh;
    width: 100vw;
    @include mobile{
        padding: 20px;
    }
}
